@charset "utf-8";
*{
	padding: 0px;
	margin: 0px;
	line-height: 20px;
}
body{
	height: 100%;
	background-color: #FBFFDE;
	position: relative;
}
img{
	border: 0px;
}
#main_block{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	color: #464646;
	overflow: hidden;
	float: left;
	width: 752px;
}
.content_main{
	width: 720px;
	float: left;
	
	padding: 20px 0 10px 20px;
}
.box_detail{
	padding: 10px 0 10px 0;
	margin: 10px 20px 10px 0;
	clear: both;
}
.box_details p{
	padding: 5px 15px 5px 15px;
	text-indent: 2em
}
img.right{
	float: right;
	padding: 0 0 0 30px;
}