@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    line-height: 20px;
}
body{
    background-color: #F3F1E9;
    height: 100%;
    position: relative;
    margin-left: 20px;
}
#wrapper{
    padding: 0 0 5px 0;
}
#main_block{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #464646;
    overflow: hidden;
    float: left;
    width: 752px;
}
.pad20{
    padding: 0 0 20px 0;
}
#item{
    padding: 13px 0 0 5px;
    float: left;
}
#item h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #242424;
    font-weight: normal;
    margin-bottom: 20px;
}
.big_view{
    width:  478px;
    padding: 20px 0 12px 0;
    vertical-align: middle;
    border: 1px solid #d6d3c7;
    background-color: #ffffff;
    position: relative;
    text-align: center;
}
.big_view span{
    font-size: 30px;
    color: #e9410e;
    display: block;
    position: absolute;
    bottom: 10px;
    left: 25px;
}
.scroll{
    width: 478px;
    border: 1px solid #d6d3c7;
    background-color: #fff;
    padding: 6px 0;
    text-align: center;
    margin: 5px 0 0 0;
}
.scroll a{
    margin: 0 2px;
}
.description{
    width: 220px;
    float: left;
    padding: 55px 0 0 25px;
}
.description p{
    padding-bottom: 15px;
}
.view{
    display: block;
    float: left;
    line-height: 18px;
    margin: 3px 3px 0 0;
    width: 41px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: 1px #6a831e solid;
    background-color: #83A51D;
    border-radius: 3px;
}
.buy{
    display: block;
    float: left;
    line-height: 18px;
    margin: 3px 3px 0 0;
    width: 92px;
    text-align: center;
    color: #caff34;
    text-decoration: none;
    border: 1px #4b4b4b solid;
    background-color: #5d5d5d;
    border-radius: 3px;
}