@charset "utf-8";
.test ul{
	list-style:none;
}
.test li{
	float:left;
}
.test li{
	float:left;
	width:100px;
}
.test{
	width:350px;
}
.test a:link{
	color:#666; 
	background:#CCC; 
	text-decoration:none;
}
.test a:visited{
	color:#666; 
	text-decoration:underline;
}
.test a:hover{
	color:#FFF; 
	font-weight:bold; 
	text-decoration:underline; 
	background:#F00;
}
.test a{
	display:block; 
	text-align:center; 
	height:30px;
}
.test li{
	float:left; 
	width:100px; 
	background:#CCC; 
	margin-left:3px; 
	line-height:30px;
}
.test a:link{
	color:#666; 
	text-decoration:none;
}
.test a:hover{
	color:#FFF; 
	font-weight:bold; 
	text-decoration:none;
}
img{
	width: 15px;
	height: 15px;
}
